input:focus,
select:focus,
button:focus {
    outline: none;
}

.input {
    box-sizing: border-box;
    padding: .5rem;
    border: none;
    margin: 0 0 2px 0;
    font: inherit;
    box-shadow: 0 1px 0 0 $grey;
    transition: box-shadow .2s ease;

    &:focus {
        box-shadow: 0 2px 0 0 $primary;
    }

    &:disabled {
        color: $grey;
        background: none;
        box-shadow: none;
        -moz-appearance: textfield;
    }
}

.button {
    display: inline-block;
    box-sizing: border-box;
    padding: 1rem;
    border: none;
    border-radius: .5rem;
    color: $text-light;
    background: $secondary;
    box-shadow: 0 .2rem 0 0 $secondary-shadow;
    font-size: 1.25rem;
    font-weight: bold;
    text-shadow: 1px 1px 0 $secondary-light, -1px -1px 0 $secondary-shadow;
    cursor: pointer;
}
