$background: #fff;

$text: #333;
$text-light: #fff;

$link: #2294ff;

$primary: #2294ff;
$primary-shadow: #016cd4;
$primary-light: #79bcfe;
$grey: #aaa;

$secondary: #ff5e10;
$secondary-shadow: #ce4300;
$secondary-light: #ff9d6f;

$error: #f66;

$shadow: rgba(0, 0, 0, .2);
